n8n_workflow.json
{
  "name": "AutoFlow AI Lead Scoring",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Lead Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "autoflow-lead-intake"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/webhook/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "name",    "value": "={{ $json.body.name }}" },
            { "name": "email",   "value": "={{ $json.body.email }}" },
            { "name": "company", "value": "={{ $json.body.company }}" },
            { "name": "budget",  "value": "={{ $json.body.budget }}" },
            { "name": "message", "value": "={{ $json.body.message }}" }
          ]
        },
        "options": {}
      },
      "id": "http-request-fastapi",
      "name": "Call FastAPI + Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "hot-condition",
              "leftValue": "={{ $json.score }}",
              "rightValue": "Hot",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-hot",
      "name": "Is Hot Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "warm-condition",
              "leftValue": "={{ $json.score }}",
              "rightValue": "Warm",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-warm",
      "name": "Is Warm Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 480]
    },
    {
      "parameters": {
        "channel": "#hot-leads",
        "text": "🔥 *HOT LEAD ALERT!*\n*Name:* {{ $json.lead.name }}\n*Company:* {{ $json.lead.company }}\n*Budget:* ${{ $json.lead.budget }}\n*Score:* {{ $json.score }}\n*Reason:* {{ $json.analysis.reason }}\n*Follow-up by:* {{ $json.analysis.follow_up_date }}",
        "options": {}
      },
      "id": "slack-hot",
      "name": "Slack - Hot Lead Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [900, 200],
      "disabled": true,
      "credentials": { "slackApi": { "id": "slack-creds", "name": "Slack API" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name":         "={{ $json.lead.name }}",
            "Email":        "={{ $json.lead.email }}",
            "Company":      "={{ $json.lead.company }}",
            "Budget":       "={{ $json.lead.budget }}",
            "Score":        "={{ $json.score }}",
            "Reason":       "={{ $json.analysis.reason }}",
            "FollowUpDate": "={{ $json.analysis.follow_up_date }}"
          }
        },
        "options": {}
      },
      "id": "google-sheets-log",
      "name": "Google Sheets - Log Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 360],
      "disabled": true,
      "credentials": { "googleSheetsOAuth2Api": { "id": "gsheets-creds", "name": "Google Sheets OAuth2" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.lead.email }}",
        "subject": "={{ $json.score === 'Hot' ? '🔥 ' : $json.score === 'Warm' ? '✨ ' : '' }}Following up on your inquiry",
        "message": "={{ $json.analysis.email_draft }}",
        "options": {}
      },
      "id": "gmail-send",
      "name": "Gmail - Send Follow-up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 520],
      "disabled": true,
      "credentials": { "gmailOAuth2": { "id": "gmail-creds", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, id: $json.id, score: $json.score, routing: $json.routing }) }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Lead Form Webhook": {
      "main": [[ { "node": "Call FastAPI + Claude", "type": "main", "index": 0 } ]]
    },
    "Call FastAPI + Claude": {
      "main": [
        [ { "node": "Is Hot Lead?", "type": "main", "index": 0 } ],
        [ { "node": "Is Warm Lead?", "type": "main", "index": 0 } ]
      ]
    },
    "Is Hot Lead?": {
      "main": [
        [ { "node": "Slack - Hot Lead Alert",   "type": "main", "index": 0 } ],
        [ { "node": "Google Sheets - Log Lead", "type": "main", "index": 0 } ]
      ]
    },
    "Is Warm Lead?": {
      "main": [
        [ { "node": "Gmail - Send Follow-up",   "type": "main", "index": 0 } ],
        [ { "node": "Google Sheets - Log Lead", "type": "main", "index": 0 } ]
      ]
    },
    "Slack - Hot Lead Alert":   { "main": [[ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]] },
    "Gmail - Send Follow-up":   { "main": [[ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]] },
    "Google Sheets - Log Lead": { "main": [[ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "autoflow-ai-demo",
    "instanceId": "autoflow-ai-lead-scoring-v1"
  }
}
